@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@900&display=swap');

.font-intro{
  font-family: 'Noto Serif', serif;
 
}

.radius{
  border-bottom-right-radius: 370px;

}

.skillDiv{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(163, 153, 153) 20%, rgb(245, 240, 239) 55%, rgb(254, 252, 252) 100%);
}